<style>
    .line > * {
        padding-top:<?php echo $scale * 5; ?>px;
    }

    .line--text,
    .line--text p {
        font-size: <?php echo $scale * 10; ?>px;
    }

    .line--text h1 {
        font-size: <?php echo $scale * 20; ?>px;
        margin-bottom: <?php echo $scale * 20; ?>px;
    }

    .line--text h2 {
        font-size: <?php echo $scale * 14; ?>px;
        margin-bottom: <?php echo $scale * 10; ?>px;
    }

    .line--text p {
        margin: 0;
    }
</style>

<div class="item__lines">
    <?php
        foreach ($page->lines as $line) {
            $lineType = $line->type;

            switch ($lineType) {
                case 'hourly';
                    include("line--hourly.html");
                    break;
                case 'text';
                    include("line--text.html");
                    break;
                case 'sum';
                    include("line--sum.html");
                    break;
                case 'break';
                    include("line--break.html");
                    break;
            }
        }
    ?>
</div>