@import '../../node_modules/vue-material/dist/vue-material.min.css';
@import '../../node_modules/vue2-dropzone/dist/vue2Dropzone.min.css';
@import './variables';



* {
    box-sizing: border-box;
}

body {
    font-size: 11px;
    font-family: 'open sans';

    .main {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #f8f8f8;

        .topbar {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $topbar-height;
            border-bottom: 1px solid #ddd;
            padding: $general-padding;

            .avatar {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }

        .content {
            position: absolute;
            left: 0;
            top: $topbar-height;
            width: 100%;
            height: calc(100% - #{$topbar-height});

            .menu {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: $menu-width;
                overflow: auto;
                border-right: $generalBorder;
            }

            .view-frame {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: calc(100% - #{$menu-width});
                overflow: auto;
            }
        }
    }
}



@import "details";
@import "input";
@import "buttons/icon-button";
@import "buttons/button";
@import "buttons/tool-button";
@import "view-frame";
@import "scrim";
@import "unselectable";
@import "cover";
@import "tool-box";
@import "vue-material";
@import "view-frame-tools";
