@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url(./../../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url(./../../assets/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: normal;
    src: url(./../../assets/fonts/Tinos/Tinos-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Tinos';
    font-style: normal;
    font-weight: bold;
    src: url(./../../assets/fonts/Tinos/Tinos-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    src: url(./../../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    src: url(./../../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf) format('truetype');
}

body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    padding: 0;
    margin: 0;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    page-break-after: always;
}

.page .document__items {
    position: absolute;
}

.item {
    position: absolute;
}

.item--image img {
    display: block;
    width: 100%;
    height: auto;
}

.item__lines {

}

.item__lines ul {
    padding: 0;
    margin: 0;
}





/* total */

.item__total {
    position: absolute;
    width: 100%;
}

.item__total .item-total__line {
}

.item__total .item-total__line .item-total__label {
    width: 50%;
    display: inline-block;
}

.item__total .item-total__line .item-total__value {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.item__total .item-total__line.item-total__line--big {
    font-weight: 700;
}



/* line */

.line {
    clear: both;
}

.line__row {
    width: 100%;
}

.line-part {
    float: left;
}

.line-part--25 {
    width: 25%;
}

.line-part--50 {
    width: 50%;
}

.line-part--75 {
    width: 75%;
}

.line-part--start {
    padding-right: 10px;
}

.line-part--middle {
    padding: 0 10px;
}

.line-part--end {
    padding-left: 10px;
    float: right;
    text-align: right;
}

.line-part--end input {
    text-align: right;
}

.line__row--heavy {
    font-weight: 700;
    font-size: 120%;
}






/* text line */

.line--text,
.line--text p {
    font-family: 'Open Sans';
    text-align: left;
}

.line--text h1 {
    font-family: 'Tinos';
    margin-top: 0;
    display: block;
}

.line--text h2 {
    font-family: 'Roboto condensed';
    margin-top: 0;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
}

.line--text p {
    margin: 0;
}