.mini-page {
    list-style: none;
    margin-bottom: 10px;
    width: 35px;
    height: 50px;
    display: block;
    border: 0;
    background: #fff;
    cursor: pointer;

    &:hover:not(.mini-page--current) {
        background: #ddd;
    }

    &.mini-page--current {
        background: @editing-mode-color;
    }


}