@import "page/page";
@import "mini-page/mini-page";

.document__container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    overflow: auto;

    .document {
        position: absolute;
        left: ~'calc(50% - 310px)';
        width: 620px;
        line-height: 1.6;
    }

    .document__index {
        position: fixed;
        right: ~'calc(50% + 340px)';
        top: 40px;
        width: 50px;
        height: ~'calc(100% + 80px)';
        overflow: auto;

        ul {
            padding: 0;
            margin: 0;
        }
    }

    .document__tools {
        position: fixed;
        left: ~'calc(50% + 340px)';
        top: 40px;
        width: 100px;
        display: flex;
        flex-wrap: wrap;

        .iss-button {
            margin-bottom: 4px;
        }
    }
}
