@import "issue-card/issue-card";
@import "issues-filter/issues-filter";


.issue-cards__table {
    margin-top: 20px;

    .issue-cards__header {
        border-top: @general-border;
        font-weight: 700;
    }
}
