.employee {

    width: 180px;
    height: 200px;
    margin: 0 16px 16px 0;
    text-align: center;
    position: relative;

    .employee-card {
        background: #fff;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
        padding: 20px 10px;
        height: 180px;

        .employee-card__name {
            height: 20px;
            margin-top: 10px;
            line-height: 1;
            text-align: center;
        }
    }

    .employee-card__toolbar {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }
}

