<div class="line line--hourly">
    <div class="line__row">
        <div class="line-part line-part--50 line-part--start">
            <?php echo $line->subject; ?>
        </div>
        <div class="line-part line-part--25 line-part--middle line-part__set">
            <?php echo $line->hours; ?> ×
            <?php echo $line->rate; ?>
            <?php echo $this->document->currency; ?>
        </div>
        <div class="line-part line-part--end line-part--25">
            <?php echo $line->value; ?> <?php echo $this->document->currency; ?>
        </div>
    </div>
</div>