@general-border: 1px solid #ddd;
@general-padding: 10px;





@menu-width: 200px;
@topbar-height: 68px;



// colors

@grey-10: #ddd;
@grey-20: #aaa;

@blue: #00B7FF;
@blue-dark: #176C82;

@editing-mode-color-light: #ACFCEC;
@editing-mode-color: #00FFCE;
@editing-mode-color-dark: #017761;
@editing-mode-color-contra: #5F0142;