.page {

    .page-section {
        padding: 30px;
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: 0;
        }

        .page-section__header {
            font-size: 28px;
            margin-bottom: 16px;
            font-weight: 700;
            font-family: @main-theme-font-2;
            color: @main-theme-color;
        }

        .page-section__content {

            .details-row {
                display: flex;
                padding: @general-padding 0;
                align-items: center;

                .md-field {
                    max-width: 300px;
                }

                .details-label {
                    width: 100px;
                }

                .details-content {
                    width: ~'calc(100% - 100px)';
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    input {
                        width: 100%;
                        max-width: 300px;
                    }

                    input, select {
                        margin-right: @general-padding;
                    }
                }
            }
        }
    }

    h1 {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
    }
}